{{#> layout}}
  <table role="presentation">
    <tbody>
      <tr>
        <td>
          <h1>Past week summary</h1>
        </td>
      </tr>
      <tr>
        <td>
          <table class="stats-block">
            <tbody>
              <tr>
                <td class="bordered">
                  <strong>{{proposals.pending.length}}</strong>
                Pending proposals</td>
                <td class="bordered">
                <strong>{{proposals.active.length}}</strong>
              Active proposals</td>
                <td>
                <strong>{{proposals.closed.length}}</strong>
              Closed proposals</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      {{#if proposals.pending.length}}
        <tr>
          <td>
            <h2>
              Pending proposals
            </h2>
          </td>
        </tr>
        <tr>
          <td class="status-block">
            {{#each proposals.pending}}
              {{> proposalsHtml}}
            {{/each}}
          </td>
        </tr>
      {{/if}}

      {{#if proposals.active.length}}
        <tr>
          <td>
            <h2>
              Active proposals
            </h2>
          </td>
        </tr>
        <tr>
          <td class="status-block">
            {{#each proposals.active}}
              {{> proposalsHtml}}
            {{/each}}
          </td>
        </tr>
      {{/if}}

      {{#if proposals.closed.length}}
        <tr>
          <td>
            <h2>
              Closed proposals
            </h2>
          </td>
        </tr>
        <tr>
          <td class="status-block">
            {{#each proposals.closed}}
              {{> proposalsHtml}}
            {{/each}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
{{/layout}}
