{{#> layout}}
  <h1>Past week summary</h1>

  {{#if proposals.pending.length}}
    <div class="status-block">
      <h2>
        Pending proposals
      </h2>
      {{#each proposals.pending}}
        {{> proposals}}
      {{/each}}
    </div>
  {{/if}}

  {{#if proposals.active.length}}
    <div class="status-block">
      <h2>
        Active proposals
      </h2>
      {{#each proposals.active}}
        {{> proposals}}
      {{/each}}
    </div>
  {{/if}}

  {{#if proposals.closed.length}}
    <div class="status-block">
      <h2>
        Closed proposals
      </h2>
      {{#each proposals.closed}}
        {{> proposals}}
      {{/each}}
    </div>
  {{/if}}
{{/layout}}
