{{#> layout}}
  <table tole="presentation">
    <tbody>
      <tr>
        <td class="title-container">
          <h1>{{proposal.title}}</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>{{proposal.body}}</p>
        </td>
      </tr>
    </tbody>
  </table>
{{/layout}}
