{{#> layout}}
  <table role="presentation">
    <tbody>
      <tr>
        <td class="title-container">
          <h1>Verify email</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>Please verify your email address by clicking the button below.</p>
        </td>
      </tr>
      <tr>
        <td style="padding: 0.5em 0 2em">
          <a href="{{verifyLink}}" class="btn">Verify email</a>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Or visit the following link in your browser:
            <br/>
            <a href="{{verifyLink}}" class="break-line">{{{verifyLink}}}</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
{{/layout}}
