{{#> layout }}
  <div class="content">
    <img class="logo" src="https://www.gitbook.com/cdn-cgi/image/width=40,dpr=2,height=40,fit=contain,format=auto/https%3A%2F%2F352593183-files.gitbook.io%2F~%2Ffiles%2Fv0%2Fb%2Fgitbook-legacy-files%2Fo%2Fspaces%252F-MG4Ulnnabb2Xz3Lei9_%252Favatar-1602311890000.png%3Fgeneration%3D1602311890284612%26alt%3Dmedia" />

    <h1>Verify Email</h1>

    <p>Please verify your email address by clicking the button below</p>

    <a href="{{verifyLink}}" class="btn">Verify email</a>

    <p>
      Or visit the following link in your browser:
      <br/>
      <a href="{{verifyLink}}">{{verifyLink}}</a>
    </p>
  </div>
{{/layout}}
