{{#> layout}}
  <table tole="presentation">
    <tbody>
      <tr>
        <td class="title-container">
          <h1>The proposal has closed</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>The proposal has closed</p>
        </td>
      </tr>
    </tbody>
  </table>
{{/layout}}
