@import './reset.scss';

$border-color: #e8eaed;
$content-text-color: #444444;
$content-muted-text-color: lighten($content-text-color, 25%);
$content-bg-color: #ffffff;
$bg-color: #f8f9fa;
$contrast-text-color: #000000;
$mild-contrast-text-color: #3c4043;
$primary-color: #3455fa;
$primary-color-inverse: #ffffff;
$secondary-color: #f3b04e;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background: $bg-color;
  color: $content-text-color;

  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: $contrast-text-color;
  margin: 0.15em;

  a {
    color: $contrast-text-color;
  }
}

h2 {
  font-size: 1.25em;
  font-weight: 500;
  color: $mild-contrast-text-color;
  line-height: 1.25em;
  margin-bottom: 0;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: $content-muted-text-color;
}

table {
  border-radius: 0.25em;
  border-collapse: separate;
  border-spacing: 0;
}

.logo-light,
.logo-dark {
  height: 2em;
  margin-bottom: 1.5em;
}

.logo-dark {
  display: none;
}

.logo-light {
  display: block;
}

.container {
  padding: 2em 1em;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  &-body {
    padding: 2.5em 2.5em 1em;
    border: 1px solid $border-color;
    background: $content-bg-color;
    border-radius: 0.25em;

    &-preheading td {
      padding: 0 0 0.5em;
    }

    &-heading {
      padding: 0 0 1em;
    }
  }

  &-footer {
    font-size: 0.75em;
    line-height: 1.5em;
    color: $content-muted-text-color;
    padding: 1.5em 0;

    a,
    a:visited {
      color: $content-muted-text-color;
    }
  }
}

.btn {
  padding: 0.75em 2em;
  display: inline-block;
  color: $primary-color-inverse;
  background: $primary-color;
  border-radius: 2em;
  text-decoration: none;
}

.block {
  background-color: $border-color;
  border-radius: 5px;
  padding: 1em;
  font-size: 0.85em;
  line-height: 1.5em;
}

.state-badge {
  font-size: 16px;
  vertical-align: middle;
  padding: 4px 12px;
  border-radius: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff;
  word-break: keep-all;
}

.state-closed {
  background-color: rgb(124, 58, 237);
}

.state-pending {
  background-color: rgb(107, 114, 128);
}

.state-active {
  background-color: rgb(33, 182, 111);
}

@import './summary.scss';
@import './proposal-activity.scss';

@media only screen and (max-width: 620px) {
  .container {
    padding: 0 !important;
  }

  .content {
    max-width: 100% !important;
    padding: 0 !important;

    &-body {
      padding: 2em 1.5em 1em !important;
      border: 0 !important;
    }

    &-footer {
      padding: 1.5em !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  $border-color: #2d2d2d !important;
  $content-bg-color: #211f24 !important;
  $content-text-color: #8b949e !important;
  $content-muted-text-color: darken(#8b949e, 25%);
  $content-bg-color: #211f24 !important;
  $bg-color: #211f24 !important;
  $contrast-text-color: #ffffff !important;
  $mild-contrast-text-color: #c5cacf !important;

  body {
    color: $content-text-color;
    background: $bg-color;
  }

  h1 {
    color: $contrast-text-color;

    a {
      color: $contrast-text-color;
    }
  }

  h2 {
    color: $mild-contrast-text-color;
  }

  .content {
    &-body {
      background: $content-bg-color;
    }

    &-footer {
      color: $content-muted-text-color !important;

      a,
      a:visited {
        color: $content-muted-text-color !important;
      }
    }
  }

  .content-body {
    border-color: $border-color;
  }

  .block {
    background-color: $border-color;

    small {
      font-size: 1em;
    }
  }

  .logo {
    width: 48px;
    margin-bottom: 1.5em;
  }
}
